## Описание данных

**About this dataset**

Did you know that more than half of all Subway locations are in the United States? With such a large presence here, it's no wonder that Americans love their sandwiches!

**How to use the dataset**

This dataset is perfect for anyone wanting to know where their nearest Subway is, or for researchers wanting to know more about the distribution of Subway stores across the United States.

The data includes the store name, street address, city, state, and ZIP code, and the store's latitude and longitude coordinates. There is also contact information such as phone numbers and email addresses, and social media links for Subway's Facebook, Twitter, Instagram, and Pinterest pages.

**How to use the dataset**

This dataset can be used to find out the nearest Subway store from a given location.
Market researchers can also use it to understand the geographic distribution of fast-food franchises and how this varies by country.

**Research Ideas**

*   Use the dataset to plan the expansion of the Subway franchise into new markets.
*   Use the dataset to understand the geographic distribution of fast food franchises and how this varies by country.
* Use the dataset to investigate whether there are any patterns in the location of Subway stores that might be indicative of socio-economic factors such as income or educational level

## Предобработка

In [1]:
import pandas as pd

In [2]:
try:
  df=pd.read_csv('C:/Users/juvoronova/Desktop/Projects/project_2/data/subway.csv')
  display(df.head(2))
except:
  df = pd.read_csv('/content/subway.csv')
  display(df.head(2))

,index,name,url,street_address,city,state,zip_code,country,phone_number_1,phone_number_2,...,email_2,website,open_hours,latitude,longitude,facebook,twitter,instagram,pinterest,youtube
0,0,Subway,http://order.subway.com/Stores/Redirect.aspx?s...,"1800 Duke St, Ste 100",Alexandria,VA,22314,USA,NaN,NaN,...,NaN,NaN,"Monday 7:00 AM - 7:00 PM, Tuesday 7:00 AM - 7:...",38.8043,-77.0611,NaN,NaN,NaN,NaN,NaN
1,1,Subway,http://order.subway.com/Stores/Redirect.aspx?s...,"1512 King St,",Alexandria,VA,22301,USA,NaN,NaN,...,NaN,NaN,"Sunday 9:00 AM - 8:00 PM, Monday 7:00 AM - 9:0...",38.8062,-77.0565,NaN,NaN,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25533 entries, 0 to 25532
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           25533 non-null  int64
 1   name            25533 non-null  object
 2   url             24017 non-null  object
 3   street_address  25533 non-null  object
 4   city            25533 non-null  object
 5   state           25533 non-null  object
 6   zip_code        25533 non-null  object
 7   country         25533 non-null  object
 8   phone_number_1  0 non-null      float64
 9   phone_number_2  0 non-null      float64
 10  fax_1           0 non-null      float64
 11  fax_2           0 non-null      float64
 12  email_1         0 non-null      float64
 13  email_2         0 non-null      float64
 14  website         0 non-null      float64
 15  open_hours      25395 non-null  object
 16  latitude        25533 non-null  float64
 17  longitude       25533 non-null  float64
 18  facebook        0 non-null      float64
 19  twitter         0 non-null      float64
 20  instagram       0 non-null      float64
 21  pinterest       0 non-null      float64
 22  youtube         0 non-null      float64
dtypes: float64(14), int64(1), object(8)
memory usage: 4.5+ MB

### Работа с пропусками

In [4]:
df.isna().sum()

index                 0
name                  0
url                1516
street_address        0
city                  0
state                 0
zip_code              0
country               0
phone_number_1    25533
phone_number_2    25533
fax_1             25533
fax_2             25533
email_1           25533
email_2           25533
website           25533
open_hours          138
latitude              0
longitude             0
facebook          25533
twitter           25533
instagram         25533
pinterest         25533
youtube           25533
dtype: int64

In [5]:
# удалю из df столбцы с пропусками, положу доступную инфу в a_data. 
# незаполненные колонки совершенно бесполезны

a_data = df.dropna(axis=1)

In [6]:
a_data['open_hours'] = df['open_hours'].copy()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [9]:
# сколько пропусков осталось теперь

a_data.isna().sum()

index               0
name                0
street_address      0
city                0
state               0
zip_code            0
country             0
latitude            0
longitude           0
open_hours        138
dtype: int64

In [10]:
# удалим строки с пропусками 

a_data = a_data.dropna(axis=0)

In [ ]:
display(a_data.head())

In [12]:
a_data.shape

(25395, 10)

### Работа с дубликатами

In [ ]:
a_data.duplicated().sum()

Явных дубликатов нет

In [14]:
sorted(a_data['country'].unique())

['USA']

In [ ]:
sorted(a_data['city'].unique())

In [16]:
len(a_data['city'].unique())

7256

In [ ]:
a_data['city'].str.lower()

In [18]:
len(a_data['city'].unique())

7256

Повторяющихся значений в названиях городов нет

In [19]:
len(a_data['state'].unique())

52

In [ ]:
sorted(a_data['state'].unique())

Данные по 50-ти штатам, включая Округ Колумбия и Пуэрто-Рико!

In [21]:
len(a_data['street_address'].unique())

25124

In [ ]:
sorted(a_data['street_address'].unique())

Явных и неявных дубликатов не обнаружено

### Исследовательский анализ данных

In [ ]:
a_data.plot(
    kind='scatter',
    x='longitude', 
    y='latitude',
    figsize = (10, 10),
    alpha = 0.2 
);

In [ ]:
# сколько отделений в каждом штате 

a_data['state'].value_counts().sort_values(ascending=False)

In [36]:
# для более делатьного анализа найду информации о размере каждого штата 

# словарь с расшифровкой аббревиатур 

try:
  states_name = pd.read_excel('C:/Users/juvoronova/Desktop/Projects/project_2/data/states_name.xlsx', sheet_name='name')
  display(states_name.head(10))
except:
  states_name = pd.read_excel('/content/states_name.xlsx', sheet_name='name')
  display(states_name.head(10))

      US STATE POSTAL ABBREVIATION STANDARD ABBREVIATION
0      Alabama                  AL                  Ala.
1       Alaska                  AK                Alaska
2      Arizona                  AZ                 Ariz.
3     Arkansas                  AR                  Ark.
4   California                  CA                Calif.
5     Colorado                  CO                Color.
6  Connecticut                  CT                 Conn.
7     Delaware                  DE                  Del.
8      Florida                  FL                  Fla.
9      Georgia                  GA                   Ga.

In [37]:
states_name.isna().sum()

US STATE                 0
POSTAL ABBREVIATION      0
STANDARD ABBREVIATION    6
dtype: int64

In [38]:
states_name.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   US STATE               62 non-null     object
 1   POSTAL ABBREVIATION    62 non-null     object
 2   STANDARD ABBREVIATION  56 non-null     object
dtypes: object(3)
memory usage: 1.6+ KB

In [56]:
states_name = states_name.rename(columns={
    'US STATE':'us_state',
    'POSTAL ABBREVIATION':'state',
    'STANDARD ABBREVIATION':'stand_abbrev'
})

In [66]:
# data['column'].where(s > control_value, default_value)

# a_data['name'] = states_name['us_state'].where(states_name['state'].isin(a_data['state']), ' ')

display(a_data.head())

,index,name,street_address,city,state,zip_code,country,latitude,longitude,open_hours
0,0,Alabama,"1800 Duke St, Ste 100",Alexandria,VA,22314,USA,38.8043,-77.0611,"Monday 7:00 AM - 7:00 PM, Tuesday 7:00 AM - 7:..."
1,1,Alaska,"1512 King St,",Alexandria,VA,22301,USA,38.8062,-77.0565,"Sunday 9:00 AM - 8:00 PM, Monday 7:00 AM - 9:0..."
2,2,Arizona,"2361 Eisenhower Ave,",Alexandria,VA,22314,USA,38.8012,-77.0691,"Sunday 9:00 AM - 8:30 PM, Monday 6:30 AM - 9:0..."
3,3,Arkansas,"320 King Street, 1st Floor",Alexandria,VA,22314,USA,38.8045,-77.0433,"Sunday 9:00 AM - 8:00 PM, Monday 7:00 AM - 9:0..."
4,4,California,"5836 N. Kings Hwy, Suite A, Huntington Station",Alexandria,VA,22303,USA,38.7903,-77.0769,"Sunday 9:00 AM - 9:00 PM, Monday 7:00 AM - 10:..."

In [59]:
a_data.shape

(25395, 10)